/Senior Yr/cs380/Assignments/Assignment1/nbproject/private/
/Senior Yr/cs380/Assignments/Assignment1/build/
/Senior Yr/Fall/cs380/Assignments/Assignment3/nbproject/private/
/Senior Yr/Fall/cs380/Assignments/Assignment4/nbproject/private/
/Senior Yr/Fall/cs380/Assignments/Assignment4/build/
/Senior Yr/Fall/cs457/ProgrammingAssignment2/nbproject/private/
/Senior Yr/Fall/cs457/Assignment5/nbproject/private/
/Senior Yr/Fall/cs457/Assignment5/build/
/Senior Yr/Winter/cs338_GUI/assignment2_netbeans/assignment2/nbproject/private/
/Senior Yr/Winter/cs338_GUI/assignment2_netbeans/GUIFormExamples/nbproject/private/